include LICENSE
include README.md
include codecov.yml
include src/napari_n2v/resources/gear_16.png
include src/napari_n2v/resources/GitHub-Mark-Light-32px.png
include src/napari_n2v/resources/juglab_logo_128.png
include src/napari_n2v/resources/TF_legal_mention.txt
include src/napari_n2v/resources/TF_White_Icon.png

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
